* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: #22ad01;
  --hover-green: #2bb90a;
  --bonsai-gray: #65816d;
  --md-gray: #65816da3;
  --white: #fff;
  --bonsai-light-gray: #f2f7f2;
  --dark-green: #003c2f;
  --shadow-color: #d3d3d3;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

body {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 32px;
  color: var(--dark-green);
}

button {
  border: none;
  background: none;
}

.navbar-container {
  grid-column-start: 2;
  grid-column-end: 12;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-container ul,
.submenu-navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
}

.navbar-container ul li a {
  text-decoration: none;
  color: var(--gray);
}

.navbar-container .logo-navbar img {
  display: flex;
  align-content: center;
  width: 100px;
  margin-right: 0px;
  margin-right: 60px;
}

.navbar-container .titles-nav {
  padding: 0 20px 0 0;
  display: none;
}

.submenu-navbar .titles-nav {
  padding: 0 20px 0 0;
  text-decoration: none;
  color: var(--md-gray);
  display: none;
}

.submenu-navbar .titles-nav:hover {
  color: var(--gray);
}

.navbar-container .signin-navbar a {
  color: var(--green);
  font-weight: bold;
}

.navbar-container .titles-nav:hover {
  color: var(--green);
}

.navbar-container .buttons-log-navbar {
  display: none;
}

.buttons-log-navbar .primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 106px;
  height: 38px;
  color: var(--white);
  background-color: var(--green);
  border-radius: 36px;
  border: none;
}

.buttons-log-navbar .primary-button:hover {
  background-color: var(--hover-green);
}


.buttons-log-navbar .secondary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 88px;
  height: 38px;
  padding-right: 0;
  color: var(--gray);
  background-color: var(--white);
  border-radius: 36px;
  border: none;
}

.buttons-log-navbar .secondary-button:hover {
  background-color: var(--bonsai-light-gray);
}

.submenu-navbar {
  grid-column-start: 3;
  grid-column-end: 11;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
}

.row {
  grid-column-start: 2;
  grid-column-end: 12;
}

.title-one {
  display: flex;
  text-align: center;
  font-size: 36px;
  width: 440px;
  height: 80px;
  margin: 8px auto 0;
  color: var(--dark-green);
  line-height: 40px;
}

.container-frecuency-pay,
.monthly,
.yearly {
  display: flex;
  align-items: center;
}

.container-frecuency-pay {
  background-color: var(--bonsai-light-gray);
  width: 322px;
  height: 64px;
  margin: 20px auto 20px;
  font-size: 14px;
  border-radius: 40px;
  justify-content: space-between;
  align-content: center;
}

.monthly {
  width: 115px;
  height: 52px;
  border-radius: 40px;
  margin-left: 6px;
  justify-content: center;
}

.yearly {
  justify-content: space-around;
  width: 200px;
  height: 52px;
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 40px;
}

.yearly p:last-child {
  font-size: 10px;
  border: 1px solid var(--white);
  border-radius: 8px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: var(--green);
  background-color: var(--white);
}

.yearly:hover,
.monthly:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card {
  margin: 20px auto;
  width: 560px;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 0px var(--shadow-color);
  padding: 30px;
  background-color: white;
}

.card .first {
  width: 240px;
  font-size: 12px;
  font-weight: 300;
  color: var(--bonsai-gray);
  margin: 20px auto;
}

.card .flex-row {
  justify-content: center;
  height: 40px;
  align-items: flex-end;
}

.card .flex-row li:first-child {
  font-size: 14px;
  padding-right: 8px;
}

.card .flex-row li:nth-child(2) h4 {
  font-size: 32px;
  line-height: 1;
  color: var(--dark-green);
}

.card .flex-row li:last-child {
  font-size: 12px;
  padding-left: 8px;
  color: var(--bonsai-gray);
}

.button-pricing-cards .primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 180px;
  height: 38px;
  color: white;
  background-color: var(--green);
  border-radius: 36px;
  border: none;
  margin: 20px auto auto;
}

.button-pricing-cards .primary-button:hover {
  background-color: var(--hover-green);
}

.card .benefits {
  margin-top: 20px;
}

.card .benefits li {
    width: 300px;
    color: var(--bonsai-gray);
    display: grid;
    grid-template-columns: 13px auto;
    place-items: start;
    align-self: center;
    margin: auto;
    font-size: 12px;
    padding: 12px 16px;
    align-items: center;
    justify-content: start;
}

.card-two {
  border-radius: 28px;
}

.card .benefits li p {
  padding-left: 20px;
  color: var(--dark-green);
  font-size: 15px;
  font-weight: 400;
}

.card-behind {
  width: 580px;
  height: 86vh;
  background-color: #f76b2ac9;
  border-radius: 32px;
  padding-top: 10px;
  margin: auto;
}

.card-behind .card {
  box-shadow: none;
}

@media (min-width: 770px) {
  .title-one {
    font-size: 55px;
    width: 640px;
    height: 120px;
    line-height: 60px;
  }
}

@media (min-width: 980px) {
  .submenu-navbar {
    border-top: 1px solid var(--md-gray);
  }
  
  .navbar-container,
  .submenu-navbar {
    grid-column-start: 2;
    grid-column-end: 12;
  }

  .navbar-container .icon-menu {
    display: none;
  }

  .navbar-container .titles-nav,
.submenu-navbar .titles-nav {
    display: block;
  }

  .navbar-container .buttons-log-navbar {
    display: block;
  }
}

@media (min-width: 1600px) {
  .navbar-container,
  .submenu-navbar {
    grid-column-start: 3;
    grid-column-end: 11;
  }
}
